ion-back-button {
    --color: black;
}

#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
    text-align: center;
}

#container a {
    text-decoration: none;
}

ion-content {
    font-family: "futura-regular" !important;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 20px;
    --padding-top: 20px;
}

.header {
    text-align: center;
    font-family: "futura-heavy" !important;
    font-size: 17px;
}

.title {
    font-family: "futura-heavy" !important;
}

.subtitle {
    text-align: center !important;
    font-family: "futura-regular";
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
}

.signup-button {
    width: 100%;
    font-size: 15px;
}

.login-button {
    font-family: "futura-heavy" !important;
    --background: #f9b801;
    width: 100%;
    
}

.logout-button {
    margin-right: 10px;
    width: 19px;
    height: 19px;
}

.userName {
    text-align: center;
    font-weight: bolder;
    font-size: 18px !important;
}

.passportNumber {
    text-align: center;
    font-size: 17px !important;
}

.checkpass{
    color: green !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.qrcode{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250;
}

.providercard{
    text-align: center;
    font-size: 17px !important;
}
